#header {
  font-family:'Open Sans', sans-serif;
  background-color: orange;
  color: White;
  text-align: center;
}

button {
    background-color: orange;
    color: White;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    text-align: center;
    align-items: center;
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
