#header {
  font-family:'Open Sans', sans-serif;
  background-color: orange;
  color: White;
  text-align: center;
  padding: 10px;
}

button a{
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

button {
    background-color: orange;
    color: White;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 10%;
    text-align: center;
    align-items: center;
}
/* Add a hover effect for buttons */
button:hover {
  background-color: #ff8300;
}

#type {
  font-family:'Open Sans', sans-serif;
  text-align: center;
  font-size: 20px;
}

#check {
  font-family:'Open Sans', sans-serif;
  text-align: center;
  font-size: 15px;
}
form{
  padding: 20px;
  background-color: #e2e2e2;
  width: 75%;
  align: middle;
  margin: 40px;
}
