.container_header {
    position: relative;
    text-align: center;
    color: white;
}

.login_bottom_right {
    font-style: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white }




.header{
  margin:0px;
  padding: 0px;
  width: 100%;
}
/* Footer styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    align:center;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/* footer hover option */
li a:hover {
    color: grey;
}

/* job entry page hover color */
.JobEntry:hover {
    background-color: #ffe5c4;
}

/* styling for all bodies of text */
p {
  text-align: center;
  font-size: 20px;
}

/* privacy page pic */
.privacy{
  width: 15%;
  padding: 10px;
  float:right;
}

.JobEntry{
  text-align: center;
  font-size: 20px;
  color:black;
  padding:20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin:5px;
  word-wrap:normal;
  background-color: white;
  height: 130px;
}

a:link{
  text-decoration: none;
}

#webdesc{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

footer{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0px;

}


.body_confirm{
  background-color: #e8e8e8;
  margin: 20px;
  padding:10px;
}



.Edit_Post{
  background-color: orange;
  padding: 14px 20px;
  margin: 15px;
  border: none;
  cursor: pointer;
  width: 10%;
  float: left;
  cursor: pointer;

}
.Edit_Post_Text{
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.about_styles{
  background-color: #e8e8e8;
  margin: 30px;
  padding: 40px;
}

.Go_To_Listings{
  background-color: orange;
  padding: 14px 20px;
  margin: 15px ;
  border: none;
  cursor: pointer;
  width: 10%;
  float: right;
  cursor: pointer;

}
.Go_To_Listings_Text{
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px
}
button:hover {
  background-color: #ff8300;
}

#about{
  font-family: 'Open Sans', sans-serif;
}

#ourmission{
  font-family: 'Open Sans', sans-serif;
}
#aboutus{
  font-family: 'Open Sans', sans-serif;
}
#help{
  font-family: 'Open Sans', sans-serif;
}
#faq{
  font-family: 'Open Sans', sans-serif;
}
#needhelp{
  font-family: 'Open Sans', sans-serif;
}
#contact{
  font-family: 'Open Sans', sans-serif;
}
#idk{
  font-family: 'Open Sans', sans-serif;
}
#privacy{
  font-family: 'Open Sans', sans-serif;
}
#policy{
  font-family: 'Open Sans', sans-serif;
}
#font{
  font-family: 'Open Sans', sans-serif;
}
#maya{
  font-family: 'Open Sans', sans-serif;
}
#daphne{
  font-family: 'Open Sans', sans-serif;

}#iryne{
  font-family: 'Open Sans', sans-serif;

}#cindy{
  font-family: 'Open Sans', sans-serif;
}
