<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Task SF: About</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="../assets/header.png" alt="header" width=100%></a>
    </header>

    <h1 id="font">About</h1>


<p id="about"> ABOUT TASK SF. This website was formed through the minds of four girls through Girls Who Code who had to make something (anything) for their final project. TaskSF is a website geared towards providing teenagers with jobs. These jobs can range anywhere from one-time to full-time jobs. With its easy navigation and simple, impactful design, TaskSF is a small step in stimulating the job market for teens in San Francisco. </p>

<p id="ourmission"> OUR MISSION. We wanted to create a site that made making money and  finding jobs easier. Although we were well aware that there are other job finding sites, many of them such as craigslist were not user-friendly and unhelpful for teens. We hope that teenagers and adults will find our site easy to use and helpful in connecting opportunities!</p>

<p id="aboutus"> ABOUT US GIRLS. We all met through a program called Girls Who Code hosted at Twitter Headquarters in San Francisco. We spent 7 weeks together getting to know and working with each other. We hope you enjoy our final product (we worked very hard on it!!).
Maya -  I’m a student at Rocklin High School interested in coding and environmental studies. The Girls Who Code program really opened up my eyes to what I could accomplish in tech. I hope to continue learning computer sciences in college and make a change for more gender diversity within the technology field.

Daphne - I am a rising Senior at Saint Ignatius College Preparatory, in San Francisco. I grew up here in the city surrounded by tech and exposed to many opportunities concerning the field. Girls who code was an opportunity to dive further into a field were I already displayed some interest. It has been a wonderful experience, and I hope to pursue tech in the future.

Iryne -  I am a rising senior at Lowell High School. Girls Who Code exposed me to the tech field and I feel more confident in pursuing a career in computer science. In my free time, I like to chill and watch netflix, run, and hang out with friends.

Cindy - Im an uprising senior at Ruth Asawa School of the Arts in San Francisco. I plan on pursuing a career in the tech field, I have never really considered computer science before the summer where I did Girls Who Code. My favorite animal is the capybara and I love hanging out with my friends and family!
 </p>
<img src="../assets/twitter.jpg" alt="twitter">


<footer>
    <ul>
      <li><a href="/About">About</a></li>
      <li><a href="/Privacy">Privacy</a></li>
      <li><a href="/Help">Help</a></li>
    </ul>
</footer>

  </body>
</html>
