<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <title>Task SF: About</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="../assets/header.png" alt="header" width=100%></a>
    </header>

    <h1>About</h1>


<p> ABOUT TASK SF. This website was formed through the minds of four girls through Girls Who Code who had to make something (anything) for their final project. TaskSF is a website geared towards providing teenagers with jobs. These jobs can range anywhere from one-time to full-time jobs. With its easy navigation and simple, impactful design, TaskSF is a small step in stimulating the job market for teens in San Francisco. </p>

<p> OUR MISSION. We wanted to create a site that made making money and  finding jobs easier. Although we were well aware that there are other job finding sites, many of them such as craigslist were not user-friendly and unhelpful for teens. We hope that teenagers and adults will find our site easy to use and helpful in connecting opportunities!</p>

<p> ABOUT US GORLS. </p>
<img src="../assets/twitter.jpg" alt="twitter">


<footer>
    <ul>
      <li><a href="/About">About</a></li>
      <li><a href="/Privacy">Privacy</a></li>
      <li><a href="/Help">Help</a></li>
    </ul>
</footer>

  </body>
</html>
