<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <title id="font">TaskSF: Find Jobs</title>

    <style>

    .row {
        display: flex;
    }

    .column {
        width: 25%;
        float: left;


    }

    </style>
  </head>



  <body>
    <header>
      <a href="/"><img src="../assets/header.png" alt="header" width=100%></a>
    </header>

    <h1 id="font">Find Jobs</h1>

    <!-- {{ query }}-->

    {{list_of_jobs}}

<!-- Loops through list of 20 jobs and formats them -->

    {% for item in list_of_jobs %}
      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            <h3>{{ item.title }}</h3>
            <br>
            <h4>{{ item.wage }}</h4>
          </div>
        </a>
      </div>
    {% endfor %}

    <!-- <div class="row"> -->



      <!-- <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            {% for item in list_of_jobs %}
              {{ item.title }}
              <br>
              {{ item.wage }}
            {% endfor %}
          </div>
        </a>
      </div>

      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            {% for item in list_of_jobs %}
              {{ item.title }}
              <br>
              {{ item.wage }}
            {% endfor %}
          </div>
        </a>
      </div>

      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            {% for item in list_of_jobs %}
              {{ item.title }}
              <br>
              {{ item.wage }}
            {% endfor %}
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            {% for item in list_of_jobs %}
              {{ item.title }}
              <br>
              {{ item.wage }}
            {% endfor %}
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            {% for item in list_of_jobs %}
              {{ item.title }}
              <br>
              {{ item.wage }}
            {% endfor %}
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            {% for item in list_of_jobs %}
              {{ item.title }}
              <br>
              {{ item.wage }}
            {% endfor %}
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            {% for item in list_of_jobs %}
              {{ item.title }}
              <br>
              {{ item.wage }}
            {% endfor %}
          </div>
        </a>
      </div>
    </div> -->


    <footer>
        <ul>
          <li><a href="/About">About</a></li>
          <li><a href="/Privacy">Privacy</a></li>
          <li><a href="/Help">Help</a></li>
        </ul>
    </footer>

  </body>
</html>
