<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <title>TaskSF: Find Jobs</title>

    <style>

    .row {
        display: flex;
    }

    .column {
        flex: 25%;
    }

    </style>
  </head>



  <body>
    <header>
    <a href="/"><img src="../assets/header.png" alt="header" width=100%></a>
    </header>

    <h1>Find Jobs</h1>

    {{ query }}

    {{job}}

    <div class="row">

      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            DOG WALKER $15/hour
          </div>
        </a>
      </div>

      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            WATER PLANTS $15/hour
          </div>
        </a>
      </div>

      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            LAWN MOWER $20/hour
          </div>
        </a>
      </div>

      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            YARD CARE $30/hour
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            CHILD CARE $35/hour
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            CAR WASH $30/hour
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            CAT WALKER $15/hour
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/MoreInfo">
          <div class= "JobEntry">
            DOG WALKER $15/hour
          </div>
        </a>
      </div>
    </div>


    <footer>
        <ul>
          <li><a href="/About">About</a></li>
          <li><a href="/Privacy">Privacy</a></li>
          <li><a href="/Help">Help</a></li>
        </ul>
    </footer>

  </body>
</html>
