<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title id="font">Task SF: Help</title>
  </head>
  <body>
    <header>
      <div class="container_header">
        <a href="/"><img src="../assets/header.png" alt="header" width=100%></a>
        <div class="login_bottom_right" id='bottomright'>
          <a href="{{url}}">{{ url_text }}</a>
        </div>
      </div>
    </header>

    <h1 id="help">Help</h1>

    <h2 id="faq">Here are some FAQs:</h2>


    <p id="font"> Question: Can adults be able to look for jobs on TaskSF?</p>
    <p id="font">Answer: This site is catered towards teenagers to give them opportunities that they would not normally get in the job industry.</p>
    <p id="font"> Question: Is making an account free?</p>
    <p id="font">Answer: Yes!</p>
    <p id="font">Question: How can I tell if a job description is legitimate?</p>
    <p id="font">Answer: Be sure to read the reviews of that specific employer and feel free to reach out to our TaskTeam if you have any concerns!</p>
    <p id="font"> If you need help, feel free to contact us!</p>

    <p id="font"> Contact information:   phone number: (373)3737-3737   email: tasksf@gmail.com </p>


<footer>
    <ul>
      <li><a href="/About">About</a></li>
      <li><a href="/Privacy">Privacy</a></li>
      <li><a href="/Help">Help</a></li>
    </ul>
</footer>

  </body>
</html>
