<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Task SF: Help</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="../assets/header.png" alt="header" width=100%></a>
    </header>

    <h1 id="help">Help</h1>

    <h2 id="faq">Here's some FAQs</h2>


    <p> Question: Can adults be able to look for jobs on TaskSF?</p>
    <p>Answer: This site is catered towards teenagers to give them opportunities that they would not normally get in the job industry.</p>
    <p> Question: Is making an account free?</p>
    <p>Answer: Yes!</p>
    <p>Question: How can I tell if a job description is legitimate?</p>
    <p>Answer: Be sure to read the reviews of that specific employer and feel free to reach out to our TaskTeam if you have any concerns!</p>
    <p> If you need help, feel free to contact us!</p>
    <p> Contact information: phone number:(373)3737-3737 email: tasksf@gmail.com </p>

     <!-- id="idk"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

    <p id="needhelp"> if you need help, dont contact us. we are not liable for anything that happens to the website, including:shutting down, weird jobs, weird ppl, and malfunctions. thank u for ur time.</p>
    <p id="contact"> Contact information: phone number:(373)3737-3737 email: tasksf@gmail.com </p>



<footer>
    <ul>
      <li><a href="/About">About</a></li>
      <li><a href="/Privacy">Privacy</a></li>
      <li><a href="/Help">Help</a></li>
    </ul>
</footer>

  </body>
</html>
