<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
  </head>
  <body>
    <header>
      <a href="/"><img src="../assets/header.png" alt="header" width=100%></a>
    </header>

<h1>Your Job Listing has been posted!</h1>
<form action='/FindJobs'>
  <input type="submit" value="Go to Listings">
  <br>
</form>

    <h1> THIS IS JOBPOSTCONFIRM </h1>

    <p>{{ title }}</p>

<footer>
    <ul>
      <li><a href="/About">About</a></li>
      <li><a href="/Privacy">Privacy</a></li>
      <li><a href="/Help">Help</a></li>
    </ul>
</footer>
  </body>
</html>
