<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/"><img src="../assets/header.png" alt="header" width=100% class="header_img"></a>
    </header>

    <h1 style= "text-align:center;" >Your Job Listing has been posted!</h1>



    <!-- <h1> THIS IS JOBPOSTCONFIRM </h1> -->

    <div class="body_confirm">

      {% for item in post %}
        {{item}}
      {%endfor%}

      <p>Job Title: {{title}}</p>
      <p>Job Type: {{type}}</p>

      <p>Job Description: {{disc}}</p>
      <p>Wage: {{wage}}</p>
      <p>Hours: {{hours}}</p>
      <p>Employer Name: {{eName}}</p>
      <p>Company Name (optional): {{cName}}</p>

    </div>

    <button class="Edit_Post"> <a class="Edit_Post_Text"  href="/PostJobs">Edit Post</a> </button>

    <button class="Go_To_Listings"> <a class="Go_To_Listings_Text" href="/FindJobs">Go to Listings</a> </button>

    <br>
    <br>
    <br><br><br>

<footer>
    <ul>
      <li><a href="/About">About</a></li>
      <li><a href="/Privacy">Privacy</a></li>
      <li><a href="/Help">Help</a></li>
    </ul>
</footer>
  </body>
</html>
