<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../assets/login.css">
    <link rel="stylesheet" href="../assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


   <script src="login.js"> </script>
   <script src="login.js"> </script>

    <meta charset="utf-8">

    <title id="font">TaskSF: Login</title>

  </head>
  <body>
    <header>
      <a href="/"><img src="../assets/header.png" alt="header" width=100%></a>
    </header>

    <h1 id="font">Log In</h1>
   </body>
   <form action="action_page.php">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>
    <div>
    <div class="container">
    <form action="/PostJobs">
    <label for="uname"><b id="font">Username: </b></label>
    <input type="text" placeholder="Enter Username" required>
   </div>

    <form action="/PostJobs">
    <label for="psw"><b id="font">Password: </b></label>
    <input type="password" placeholder="Enter Password" required>
   </div>

    <form action="/action_page.php">
     Username: <input type="text" name="usrname" required>
    <input type="submit">
    </form>

   <button type="submit" href = "/PostJobs"><em id="font">Submit</em></button>
     <label>
   Please login with Google!
  <div> <button type="Login"><a href="{{url}}">{{ url_text }}</a></button> </div>
    <label>
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" id="font">Cancel</button>
    <span class="psw" id="font">Forgot <a href="#" id="font">password?</a></span>

  </form>

    <p id="font">
    Don't have an account?
    <signup type="signup"><a href = "/SignUp"><em id="font">Sign Up</em>
    </p>

    <footer>
        <ul>
          <li><a href="/About">About</a></li>
          <li><a href="/Privacy">Privacy</a></li>
          <li><a href="/Help">Help</a></li>
        </ul>
    </footer>

  </body>
</html>
