<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="../assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta charset="utf-8">
    <title id="font">TaskSF: Job Info</title>
  </head>
  <body>
    <header>
      <div class="container_header">
        <a href="/"><img src="../assets/header.png" alt="header" width=100%></a>
        <div class="login_bottom_right" id="bottomright">
          <a href="{{url}}">{{ url_text }}</a>
        </div>
      </div>
    </header>

    <h1 id="font">More Info</h1>

    <h1>{{id}}</h1>

    {{list_of_jobs}}
    <br>

    <br>
<!-- Loops through list of 20 jobs and formats them -->

    <p id="font">

      This is more info about each job: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <a href="/FindJobs" id="font">Find More Jobs</a>
    <br>

    <footer>
        <ul>
          <li><a href="/About">About</a></li>
          <li><a href="/Privacy">Privacy</a></li>
          <li><a href="/Help">Help</a></li>
        </ul>
    </footer>

  </body>
</html>
